<%= form_for([@post, @post.replies.build]) do |f| %>
  <!--<p>-->
  <!--  <%= f.label :commenter %><br>-->
  <!--  <%= f.text_field :commenter %>-->
  <!--</p>-->
  <div id="createReplyBox">
    <%= f.text_area :body %>
  </div>
  <div id ="createReplyButton">
    <%= f.submit %>
  </div>
<% end %>