<h1>Home</h1>

<% if current_user %>
    <%= link_to 'All Posts', controller: 'posts' %>
    <% if @posts.empty? %>
        <p>Oh, it looks like you have yet to make a 
        post feel free to make one <%= link_to 'Here' , new_post_path %></p>
    <% else %>
        <h2>Your Posts</h2>
        <%= render 'posts/index' %>
    <% end %>
    
    <% if current_user.major.to_s.empty? %>
        <p>Oh, it looks like you have yet to choose a major.
        Please Choose one <%= link_to 'Choose Major', edit_session_path(current_user)%></p>
    <% elsif @posts2.empty? %>
        <p>Oh, it looks like nobody has made a post in your major be the first 
        <%= link_to 'Here' , new_post_path %></p>
    <% else %>
        <h2>Posts in your Major</h2>
        <%= render 'posts/index2' %>
    
    <%end%>
    

<% else %>
    <div id="stopMessage">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/81/Stop_sign.png" id="stopSign"alt="Stop_sign">
        <h4>Woah there champ, we noticed you aren't signed in. We highly
        recommend you sign on in, so you can get the most out of our site's features.
        But, if you don't want to <%= link_to "Sign in", "/auth/google_oauth2", id: "sign_in" %> feel free to view the 
        posts <%= link_to 'here.', controller: 'posts' %></h4>
    </div>
    
<%end%>




