<div id="createPostForm">
  <p id="title">New Post</p>
  <%= form_for :post, url: posts_path do |f| %>
    <div id="createPostCred">
      
      <%= f.text_field :title, placeholder:"Add your title here" %>
    
    
      
      <%= f.collection_select :category, Post::CATEGORIES, :to_s, :to_s,
          :include_blank => "Category"%>
    </div>
    <div id="createPostContent">
      <%= f.text_area :text, placeholder:"Add your post content here" %>
    </div>
   
    <div id="createPostButton">
      <%= f.submit %>
    </div>
</div> 
<% end %>
<%= link_to 'Back to Posts', controller: 'posts' %>