<p>
    <%= @post.title %>
</p>
<p>
    <%= @post.author %>
</p>
<p>
    <%= @post.created_at %>
</p>
<p>
    <%= @post.text %>
</p>
<h2>Replies</h2>
<%= render @post.replies %>

<h2>Add a comment:</h2>
<%= render 'replies/form' %>

<%= link_to 'Posts', posts_path %>