<br>
<div id="post">    
    <div id="postTitle">
        <h3>
            <%= @post.title %>
        </h3>
    </div>
    <div id="postCred">
       
            Posted by <%= @post.author %>
       
        
            at <%= @post.created_at %>
        
    </div>

    <div id="postContent">
        <p>
            <%= @post.text %>
        </p>
    </div>
    <% if current_user %>
        <div>
            <%= @post.like%> Likes <%=@post.dislike%> Dislikes
            <%= render 'posts/edit' %>
        </div>
    <% end %>
</div>

<% if current_user %>
    <%= render 'replies/form' %>
    
<%else%>
    <p>You must be signed in to reply</p>
<% end %>


    
        <div id="replyHeader">
            <h3>Replies</h3>
        </div>
    <%= render @post.replies %>



<%= link_to 'Posts', posts_path %>
